#text {
color: black;
font-family: fantasy;
font-size: 30px;
white-space: pre-wrap;

}

#textTyped {
  display: flex;
  padding: auto;
  margin: auto;
color: #0ad12c;
font-family: fantasy;
font-size: 30px;

}

.box {


  background-color: grey;
  width: 700px;
  border: solid 1px blue;
  margin: 20px;
  padding: 15px;
}



.blinking-cursor {

  color: #ffffff;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  30% {
    color: rgb(255, 255, 255);
  }
}

