#text {
color: black;
font-family: fantasy;
font-size: 30px;

}

#textTyped {
  display: flex;
  padding: auto;
  margin: auto;
color: rgb(10, 209, 44);
font-family: fantasy;
font-size: 30px;

}

.box {


  background-color: grey;
  width: 700px;
  border: solid 1px blue;
  margin: 20px;
  padding: 15px;
}

